	<header>
		<div class="logo"><a href="<%= root_url %>"><%= image_tag "logo.png" %></a></div>
		<div class="tagline"><%= image_tag "tagline.png" %></div>
		<div class="sign-in">
			<p><a href='#'>Sign in</a> with 
			<a href='#'>twitter</a> | 
			<a href='#'>facebook</a> | 
			<a href='#'>github</a> | 
			<a href='#'>google</a></p>
		</div>
		<div class="row">
		<div class="span12">
			<ul>
				<li><a href="/about" class="<%= @about %>"><h1>about</h1></a></li>
				<li><a href="/snapshots" class="<%= @snapshots %>"><h1>snapShots</h1></a></li>
				<li><a href="/newsbits" class="<%= @newsbits %>"><h1>newsBits</h1></a></li>
				<li><a href="/thebits" class="<%= @thebits %>"><h1>theBits</h1></a></li>
				<li><a href="/thekits" class="<%= @thekits %>"><h1>theKits</h1></a></li>
				<li><a href="/store" class="<%= @store %>"><h1>store</h1></a></li>
				<li><a href="/forum" class="<%= @forum %>"><h1>forum</h1></a></li>
				<li><a href="/community" class="<%= @community %>"><h1>community</h1></a></li>
				<li><a href="/dreambits" class="<%= @dreambits %>"><h1>dreamBits</h1></a></li>
			</ul>
		</div>
		</div>
	</header>
